---
layout: default
permalink: /mods/
---

<div class="mods">
    {% for post in site.posts %}
      {% if post.type == "plugin" %}
        <article class="plugin">
  
          <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
  
          <div class="entry">
            {{ post.excerpt }}
          </div>
  
        </article>
      {% elseif post.type == "theme" %}
        <article class="theme">
  
          <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

          <div class="entry">
            {{ post.excerpt }}
          </div>

        </article>
      {% endif %}
    {% endfor %}
  </div>